.list-container{
    margin: 10px 0px;
    align-items: flex-start;
    width: 90%;
    align-self: center;
    
}


.tile {
    margin: 10px;
    min-height: 420px;
}

.list {
    flex-direction: column;
    min-height: 320px;

}

