.main{
    width: 100%;
  

}

.main-items{
margin-top: 20px;

@include for-normal-layout {
  margin-top: 50px;
}

}


.fade-enter{
    opacity: 0;
 }
 .fade-exit{
    opacity: 1;
 }
 .fade-enter-active{
    opacity: 1;
 }
 .fade-exit-active{
    opacity: 0;
 }
 .fade-enter-active,
 .fade-exit-active{
    transition: opacity 500ms;
 }


 .btn{

border: none;
background-color: transparent;
cursor: pointer;
&:hover{
    background-color: lightblue;

}


 }